@(username: String)

@main(username) {

<script>
     function sendStrategyScript(){
         sendStrategy();
         window.location = "@routes.Application.fightRoom(username)";
     }

</script>

<input id="WSocketPath" value="@routes.Application.game(username).webSocketURL(request)" style="display: none;">
    <div class="page-header">
        <h1>Welcome to the battle room <small>You are playing as <b>@username</b></small></h1>
    </div>

<div id="strategyBoard" class="board">
    <h2>Define your Strategy</h2>
    <a href="javascript:sendStrategyScript()"> Ready to Fight</a>
    <div>

        <div class="boardHeader"></div>
        <div class="boardHeader">A</div>
        <div class="boardHeader">B</div>
        <div class="boardHeader">C</div>
        <div class="boardHeader">D</div>
        <div class="boardHeader">E</div>
        <div class="boardHeader">F</div>
        <div class="boardHeader">G</div>
        <div class="boardHeader">H</div>
        <div class="boardHeader">I</div>
        <div class="boardHeader">J</div>
    </div>

    <div>

        <div>
            <div class="sideHeader">1</div>
            <div class="boardBody"><div class="boardPosition" name="0,0"></div></div>
            <div class="boardBody"><div class="boardPosition" name="0,1"></div></div>
            <div class="boardBody"><div class="boardPosition" name="0,2"></div></div>
            <div class="boardBody"><div class="boardPosition" name="0,3"></div></div>
            <div class="boardBody"><div class="boardPosition" name="0,4"></div></div>
            <div class="boardBody"><div class="boardPosition" name="0,5"></div></div>
            <div class="boardBody"><div class="boardPosition" name="0,6"></div></div>
            <div class="boardBody"><div class="boardPosition" name="0,7"></div></div>
            <div class="boardBody"><div class="boardPosition" name="0,8"></div></div>
            <div class="boardBody"><div class="boardPosition" name="0,9"></div></div>
        </div>
        <div>
            <div class="sideHeader">2</div>
            <div class="boardBody"><div class="boardPosition" name="1,0"></div></div>
            <div class="boardBody"><div class="boardPosition" name="1,1"></div></div>
            <div class="boardBody"><div class="boardPosition" name="1,2"></div></div>
            <div class="boardBody"><div class="boardPosition" name="1,3"></div></div>
            <div class="boardBody"><div class="boardPosition" name="1,4"></div></div>
            <div class="boardBody"><div class="boardPosition" name="1,5"></div></div>
            <div class="boardBody"><div class="boardPosition" name="1,6"></div></div>
            <div class="boardBody"><div class="boardPosition" name="1,7"></div></div>
            <div class="boardBody"><div class="boardPosition" name="1,8"></div></div>
            <div class="boardBody"><div class="boardPosition" name="1,9"></div></div>
        </div>
        <div>
            <div class="sideHeader">3</div>
            <div class="boardBody"><div class="boardPosition" name="2,0"></div></div>
            <div class="boardBody"><div class="boardPosition" name="2,1"></div></div>
            <div class="boardBody"><div class="boardPosition" name="2,2"></div></div>
            <div class="boardBody"><div class="boardPosition" name="2,3"></div></div>
            <div class="boardBody"><div class="boardPosition" name="2,4"></div></div>
            <div class="boardBody"><div class="boardPosition" name="2,5"></div></div>
            <div class="boardBody"><div class="boardPosition" name="2,6"></div></div>
            <div class="boardBody"><div class="boardPosition" name="2,7"></div></div>
            <div class="boardBody"><div class="boardPosition" name="2,8"></div></div>
            <div class="boardBody"><div class="boardPosition" name="2,9"></div></div>
        </div>
        <div>
            <div class="sideHeader">4</div>
            <div class="boardBody"><div class="boardPosition" name="3,0"></div></div>
            <div class="boardBody"><div class="boardPosition" name="3,1"></div></div>
            <div class="boardBody"><div class="boardPosition" name="3,2"></div></div>
            <div class="boardBody"><div class="boardPosition" name="3,3"></div></div>
            <div class="boardBody"><div class="boardPosition" name="3,4"></div></div>
            <div class="boardBody"><div class="boardPosition" name="3,5"></div></div>
            <div class="boardBody"><div class="boardPosition" name="3,6"></div></div>
            <div class="boardBody"><div class="boardPosition" name="3,7"></div></div>
            <div class="boardBody"><div class="boardPosition" name="3,8"></div></div>
            <div class="boardBody"><div class="boardPosition" name="3,9"></div></div>
        </div>
        <div>
            <div class="sideHeader">5</div>
            <div class="boardBody"><div class="boardPosition" name="4,0"></div></div>
            <div class="boardBody"><div class="boardPosition" name="4,1"></div></div>
            <div class="boardBody"><div class="boardPosition" name="4,2"></div></div>
            <div class="boardBody"><div class="boardPosition" name="4,3"></div></div>
            <div class="boardBody"><div class="boardPosition" name="4,4"></div></div>
            <div class="boardBody"><div class="boardPosition" name="4,5"></div></div>
            <div class="boardBody"><div class="boardPosition" name="4,6"></div></div>
            <div class="boardBody"><div class="boardPosition" name="4,7"></div></div>
            <div class="boardBody"><div class="boardPosition" name="4,8"></div></div>
            <div class="boardBody"><div class="boardPosition" name="4,9"></div></div>
        </div>
        <div>
            <div class="sideHeader">6</div>
            <div class="boardBody"><div class="boardPosition" name="5,0"></div></div>
            <div class="boardBody"><div class="boardPosition" name="5,1"></div></div>
            <div class="boardBody"><div class="boardPosition" name="5,2"></div></div>
            <div class="boardBody"><div class="boardPosition" name="5,3"></div></div>
            <div class="boardBody"><div class="boardPosition" name="5,4"></div></div>
            <div class="boardBody"><div class="boardPosition" name="5,5"></div></div>
            <div class="boardBody"><div class="boardPosition" name="5,6"></div></div>
            <div class="boardBody"><div class="boardPosition" name="5,7"></div></div>
            <div class="boardBody"><div class="boardPosition" name="5,8"></div></div>
            <div class="boardBody"><div class="boardPosition" name="5,9"></div></div>
        </div>
        <div>
            <div class="sideHeader">7</div>
            <div class="boardBody"><div class="boardPosition" name="6,0"></div></div>
            <div class="boardBody"><div class="boardPosition" name="6,1"></div></div>
            <div class="boardBody"><div class="boardPosition" name="6,2"></div></div>
            <div class="boardBody"><div class="boardPosition" name="6,3"></div></div>
            <div class="boardBody"><div class="boardPosition" name="6,4"></div></div>
            <div class="boardBody"><div class="boardPosition" name="6,5"></div></div>
            <div class="boardBody"><div class="boardPosition" name="6,6"></div></div>
            <div class="boardBody"><div class="boardPosition" name="6,7"></div></div>
            <div class="boardBody"><div class="boardPosition" name="6,8"></div></div>
            <div class="boardBody"><div class="boardPosition" name="6,9"></div></div>
        </div>
        <div>

            <div class="sideHeader">8</div>
            <div class="boardBody"><div class="boardPosition" name="7,0"></div></div>
            <div class="boardBody"><div class="boardPosition" name="7,1"></div></div>
            <div class="boardBody"><div class="boardPosition" name="7,2"></div></div>
            <div class="boardBody"><div class="boardPosition" name="7,3"></div></div>
            <div class="boardBody"><div class="boardPosition" name="7,4"></div></div>
            <div class="boardBody"><div class="boardPosition" name="7,5"></div></div>
            <div class="boardBody"><div class="boardPosition" name="7,6"></div></div>
            <div class="boardBody"><div class="boardPosition" name="7,7"></div></div>
            <div class="boardBody"><div class="boardPosition" name="7,8"></div></div>
            <div class="boardBody"><div class="boardPosition" name="7,9"></div></div>
        </div>
        <div>
            <div class="sideHeader">9</div>
            <div class="boardBody"><div class="boardPosition" name="8,0"></div></div>
            <div class="boardBody"><div class="boardPosition" name="8,1"></div></div>
            <div class="boardBody"><div class="boardPosition" name="8,2"></div></div>
            <div class="boardBody"><div class="boardPosition" name="8,3"></div></div>
            <div class="boardBody"><div class="boardPosition" name="8,4"></div></div>
            <div class="boardBody"><div class="boardPosition" name="8,5"></div></div>
            <div class="boardBody"><div class="boardPosition" name="8,6"></div></div>
            <div class="boardBody"><div class="boardPosition" name="8,7"></div></div>
            <div class="boardBody"><div class="boardPosition" name="8,8"></div></div>
            <div class="boardBody"><div class="boardPosition" name="8,9"></div></div>
        </div>
        <div>
            <div class="sideHeader">10</div>
            <div class="boardBody"><div class="boardPosition" name="9,0"></div></div>
            <div class="boardBody"><div class="boardPosition" name="9,1"></div></div>
            <div class="boardBody"><div class="boardPosition" name="9,2"></div></div>
            <div class="boardBody"><div class="boardPosition" name="9,3"></div></div>
            <div class="boardBody"><div class="boardPosition" name="9,4"></div></div>
            <div class="boardBody"><div class="boardPosition" name="9,5"></div></div>
            <div class="boardBody"><div class="boardPosition" name="9,6"></div></div>
            <div class="boardBody"><div class="boardPosition" name="9,7"></div></div>
            <div class="boardBody"><div class="boardPosition" name="9,8"></div></div>
            <div class="boardBody"><div class="boardPosition" name="9,9"></div></div>
        </div>
    </div>
</div>

<div class="shipsBoard"> The Boats
    <div class="Ship"> <p>Leviathan Ship: </p>
        <div><img draggable="true" src="/assets/images/ships/leviathanship.png"  id="leviathanship" width="175px" height="35px"/></div>
    </div>
    <div class="Ship"> <p>Ninja Assassin Ship: </p>
        <div><img draggable="true" src="/assets/images/ships/ninjaassassinship.png"  id="ninjaassassinship" width="35px" height="35px"/></div>
    </div>
    <div class="Ship"> <p>Kakarot Ship: </p>
        <div><img draggable="true" src="/assets/images/ships/kakarotship.png"  id="kakarotship" width="140px" height="35px"/></div>
    </div>
    <div class="Ship"> <p>Jackie Ship: </p>
        <div><img draggable="true" src="/assets/images/ships/jackieship.png" id="jackieship" width="105px" height="35px"/></div>
    </div>
    <div class="Ship"> <p>Red Ribbon Ship: </p>
        <div><img draggable="true" src="/assets/images/ships/redribbonship.png"  id="redribbonship" width="70px" height="35px"/></div>
    </div>

</div>

<div id="onError" class="alert-message error">
        <p>
            <strong>Oops!</strong> <span></span>
        </p>
    </div>
    
    <div id="onChat" class="row">
        <div class="span10" id="main">
            <div id="messages">
            </div>
            <textarea id="talk"></textarea>
        </div>

    </div>


<div id="winner">
    <button id="youwin" style="display: none; " onclick="alert('YOU WINN')">YOU WIN!!!</button>
</div>


<script src="@routes.Assets.at("javascripts/jquery-1.7.2.min.js")"></script>
<script src="@routes.Assets.at("javascripts/jQueryRotate.2.2.js")"></script>
<script src="@routes.Assets.at("javascripts/WSocketServer.js")"></script>
<script src="@routes.Assets.at("javascripts/jquery.chained.js")"></script>
<script type="text/javascript" charset="utf-8">$("#askQuestions");</script>
}
