@(username: String)

@main(username) {

<input id="WSocketPath" value="@routes.Application.game(username).webSocketURL(request)" style="display: none;">
    <div class="page-header">
        <h1>Welcome to the battle room <small>You are playing as <b>@username</b></small></h1>
    </div>
    
    <div id="onError" class="alert-message error">
        <p>
            <strong>Oops!</strong> <span></span>
        </p>
    </div>
    
    <div id="onChat" class="row">
        <div class="span10" id="main">
            <div id="messages">
            </div>
            <textarea id="talk"></textarea>
        </div>
        <div class="span4">
            <h2>Members</h2>
            <ul id="members">
            </ul>
        </div>
    </div>
    <div id="questionPanel">
         <select id="X">
             <option value="">Eje Y</option>
             <option value="0">0</option>
             <option value="1">1</option>
             <option value="2">2</option>
             <option value="3">3</option>
             <option value="4">4</option>
             <option value="5">5</option>
             <option value="6">6</option>
             <option value="7">7</option>
             <option value="8">8</option>
             <option value="9">9</option>
         </select>
         <select id="Y">
                <option value="">Eje X</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
         </select>
            <button id="askBt" onclick="shoot()">Shoot!</button>
    </div>

<div id="winner">
    <button id="youwin" style="display: none; " onclick="alert('YOU WINN')">YOU WIN!!!</button>
</div>


<script src="@routes.Assets.at("javascripts/jquery-1.7.2.min.js")"></script>
<script src="@routes.Assets.at("javascripts/WSocketServer.js")"></script>
<script src="@routes.Assets.at("javascripts/jquery.chained.js")"></script>
<script type="text/javascript" charset="utf-8">$("#askQuestions");</script>
}
