@(username: String)

@main(username) {

<input id="WSocketPath" value="@routes.Application.game(username).webSocketURL(request)" style="display: none;">
    <div class="page-header">
        <h1>Welcome to the battle room <small>You are playing as <b>@username</b></small></h1>
    </div>

<div id="boards">
<div id="opponentBoard" class="board">
        <h2>Opponent's Board</h2>

        <div>

            <div class="boardHeader"></div>
            <div class="boardHeader">A</div>
            <div class="boardHeader">B</div>
            <div class="boardHeader">C</div>
            <div class="boardHeader">D</div>
            <div class="boardHeader">E</div>
            <div class="boardHeader">F</div>
            <div class="boardHeader">G</div>
            <div class="boardHeader">H</div>
            <div class="boardHeader">I</div>
            <div class="boardHeader">J</div>
        </div>

        <div>

            <div>
                <div class="sideHeader">1</div>
                <div class="boardBody"><div class="boardPosition">0,0</div></div>
                <div class="boardBody"><div class="boardPosition">0,1</div></div>
                <div class="boardBody"><div class="boardPosition">0,2</div></div>
                <div class="boardBody"><div class="boardPosition">0,3</div></div>
                <div class="boardBody"><div class="boardPosition">0,4</div></div>
                <div class="boardBody"><div class="boardPosition">0,5</div></div>
                <div class="boardBody"><div class="boardPosition">0,6</div></div>
                <div class="boardBody"><div class="boardPosition">0,7</div></div>
                <div class="boardBody"><div class="boardPosition">0,8</div></div>
                <div class="boardBody"><div class="boardPosition">0,9</div></div>
            </div>
            <div>
                <div class="sideHeader">2</div>
                <div class="boardBody"><div class="boardPosition">1,0</div></div>
                <div class="boardBody"><div class="boardPosition">1,1</div></div>
                <div class="boardBody"><div class="boardPosition">1,2</div></div>
                <div class="boardBody"><div class="boardPosition">1,3</div></div>
                <div class="boardBody"><div class="boardPosition">1,4</div></div>
                <div class="boardBody"><div class="boardPosition">1,5</div></div>
                <div class="boardBody"><div class="boardPosition">1,6</div></div>
                <div class="boardBody"><div class="boardPosition">1,7</div></div>
                <div class="boardBody"><div class="boardPosition">1,8</div></div>
                <div class="boardBody"><div class="boardPosition">1,9</div></div>
            </div>
            <div>
                <div class="sideHeader">3</div>
                <div class="boardBody"><div class="boardPosition">2,0</div></div>
                <div class="boardBody"><div class="boardPosition">2,1</div></div>
                <div class="boardBody"><div class="boardPosition">2,2</div></div>
                <div class="boardBody"><div class="boardPosition">2,3</div></div>
                <div class="boardBody"><div class="boardPosition">2,4</div></div>
                <div class="boardBody"><div class="boardPosition">2,5</div></div>
                <div class="boardBody"><div class="boardPosition">2,6</div></div>
                <div class="boardBody"><div class="boardPosition">2,7</div></div>
                <div class="boardBody"><div class="boardPosition">2,8</div></div>
                <div class="boardBody"><div class="boardPosition">2,9</div></div>
            </div>
            <div>
                <div class="sideHeader">4</div>
                <div class="boardBody"><div class="boardPosition">3,0</div></div>
                <div class="boardBody"><div class="boardPosition">3,1</div></div>
                <div class="boardBody"><div class="boardPosition">3,2</div></div>
                <div class="boardBody"><div class="boardPosition">3,3</div></div>
                <div class="boardBody"><div class="boardPosition">3,4</div></div>
                <div class="boardBody"><div class="boardPosition">3,5</div></div>
                <div class="boardBody"><div class="boardPosition">3,6</div></div>
                <div class="boardBody"><div class="boardPosition">3,7</div></div>
                <div class="boardBody"><div class="boardPosition">3,8</div></div>
                <div class="boardBody"><div class="boardPosition">3,9</div></div>
            </div>
            <div>
                <div class="sideHeader">5</div>
                <div class="boardBody"><div class="boardPosition">4,0</div></div>
                <div class="boardBody"><div class="boardPosition">4,1</div></div>
                <div class="boardBody"><div class="boardPosition">4,2</div></div>
                <div class="boardBody"><div class="boardPosition">4,3</div></div>
                <div class="boardBody"><div class="boardPosition">4,4</div></div>
                <div class="boardBody"><div class="boardPosition">4,5</div></div>
                <div class="boardBody"><div class="boardPosition">4,6</div></div>
                <div class="boardBody"><div class="boardPosition">4,7</div></div>
                <div class="boardBody"><div class="boardPosition">4,8</div></div>
                <div class="boardBody"><div class="boardPosition">4,9</div></div>
            </div>
            <div>
                <div class="sideHeader">6</div>
                <div class="boardBody"><div class="boardPosition">5,0</div></div>
                <div class="boardBody"><div class="boardPosition">5,1</div></div>
                <div class="boardBody"><div class="boardPosition">5,2</div></div>
                <div class="boardBody"><div class="boardPosition">5,3</div></div>
                <div class="boardBody"><div class="boardPosition">5,4</div></div>
                <div class="boardBody"><div class="boardPosition">5,5</div></div>
                <div class="boardBody"><div class="boardPosition">5,6</div></div>
                <div class="boardBody"><div class="boardPosition">5,7</div></div>
                <div class="boardBody"><div class="boardPosition">5,8</div></div>
                <div class="boardBody"><div class="boardPosition">5,9</div></div>
            </div>
            <div>
                <div class="sideHeader">7</div>
                <div class="boardBody"><div class="boardPosition">6,0</div></div>
                <div class="boardBody"><div class="boardPosition">6,1</div></div>
                <div class="boardBody"><div class="boardPosition">6,2</div></div>
                <div class="boardBody"><div class="boardPosition">6,3</div></div>
                <div class="boardBody"><div class="boardPosition">6,4</div></div>
                <div class="boardBody"><div class="boardPosition">6,5</div></div>
                <div class="boardBody"><div class="boardPosition">6,6</div></div>
                <div class="boardBody"><div class="boardPosition">6,7</div></div>
                <div class="boardBody"><div class="boardPosition">6,8</div></div>
                <div class="boardBody"><div class="boardPosition">6,9</div></div>
            </div>
            <div>

                <div class="sideHeader">8</div>
                <div class="boardBody"><div class="boardPosition">7,0</div></div>
                <div class="boardBody"><div class="boardPosition">7,1</div></div>
                <div class="boardBody"><div class="boardPosition">7,2</div></div>
                <div class="boardBody"><div class="boardPosition">7,3</div></div>
                <div class="boardBody"><div class="boardPosition">7,4</div></div>
                <div class="boardBody"><div class="boardPosition">7,5</div></div>
                <div class="boardBody"><div class="boardPosition">7,6</div></div>
                <div class="boardBody"><div class="boardPosition">7,7</div></div>
                <div class="boardBody"><div class="boardPosition">7,8</div></div>
                <div class="boardBody"><div class="boardPosition">7,9</div></div>
            </div>
            <div>
                <div class="sideHeader">9</div>
                <div class="boardBody"><div class="boardPosition">8,0</div></div>
                <div class="boardBody"><div class="boardPosition">8,1</div></div>
                <div class="boardBody"><div class="boardPosition">8,2</div></div>
                <div class="boardBody"><div class="boardPosition">8,3</div></div>
                <div class="boardBody"><div class="boardPosition">8,4</div></div>
                <div class="boardBody"><div class="boardPosition">8,5</div></div>
                <div class="boardBody"><div class="boardPosition">8,6</div></div>
                <div class="boardBody"><div class="boardPosition">8,7</div></div>
                <div class="boardBody"><div class="boardPosition">8,8</div></div>
                <div class="boardBody"><div class="boardPosition">8,9</div></div>
            </div>
            <div>
                <div class="sideHeader">10</div>
                <div class="boardBody"><div class="boardPosition">9,0</div></div>
                <div class="boardBody"><div class="boardPosition">9,1</div></div>
                <div class="boardBody"><div class="boardPosition">9,2</div></div>
                <div class="boardBody"><div class="boardPosition">9,3</div></div>
                <div class="boardBody"><div class="boardPosition">9,4</div></div>
                <div class="boardBody"><div class="boardPosition">9,5</div></div>
                <div class="boardBody"><div class="boardPosition">9,6</div></div>
                <div class="boardBody"><div class="boardPosition">9,7</div></div>
                <div class="boardBody"><div class="boardPosition">9,8</div></div>
                <div class="boardBody"><div class="boardPosition">9,9</div></div>
            </div>
        </div>
    </div>


    <div id="myBoard" class="board">
        <h2>Your Board</h2>

        <div>

            <div class="boardHeader"></div>
            <div class="boardHeader">A</div>
            <div class="boardHeader">B</div>
            <div class="boardHeader">C</div>
            <div class="boardHeader">D</div>
            <div class="boardHeader">E</div>
            <div class="boardHeader">F</div>
            <div class="boardHeader">G</div>
            <div class="boardHeader">H</div>
            <div class="boardHeader">I</div>
            <div class="boardHeader">J</div>
        </div>

        <div>

            <div>
                <div class="sideHeader">1</div>
                <div class="boardBody"><div class="boardPosition">0,0</div></div>
                <div class="boardBody"><div class="boardPosition">0,1</div></div>
                <div class="boardBody"><div class="boardPosition">0,2</div></div>
                <div class="boardBody"><div class="boardPosition">0,3</div></div>
                <div class="boardBody"><div class="boardPosition">0,4</div></div>
                <div class="boardBody"><div class="boardPosition">0,5</div></div>
                <div class="boardBody"><div class="boardPosition">0,6</div></div>
                <div class="boardBody"><div class="boardPosition">0,7</div></div>
                <div class="boardBody"><div class="boardPosition">0,8</div></div>
                <div class="boardBody"><div class="boardPosition">0,9</div></div>
            </div>
            <div>
                <div class="sideHeader">2</div>
                <div class="boardBody"><div class="boardPosition">1,0</div></div>
                <div class="boardBody"><div class="boardPosition">1,1</div></div>
                <div class="boardBody"><div class="boardPosition">1,2</div></div>
                <div class="boardBody"><div class="boardPosition">1,3</div></div>
                <div class="boardBody"><div class="boardPosition">1,4</div></div>
                <div class="boardBody"><div class="boardPosition">1,5</div></div>
                <div class="boardBody"><div class="boardPosition">1,6</div></div>
                <div class="boardBody"><div class="boardPosition">1,7</div></div>
                <div class="boardBody"><div class="boardPosition">1,8</div></div>
                <div class="boardBody"><div class="boardPosition">1,9</div></div>
            </div>
            <div>
                <div class="sideHeader">3</div>
                <div class="boardBody"><div class="boardPosition">2,0</div></div>
                <div class="boardBody"><div class="boardPosition">2,1</div></div>
                <div class="boardBody"><div class="boardPosition">2,2</div></div>
                <div class="boardBody"><div class="boardPosition">2,3</div></div>
                <div class="boardBody"><div class="boardPosition">2,4</div></div>
                <div class="boardBody"><div class="boardPosition">2,5</div></div>
                <div class="boardBody"><div class="boardPosition">2,6</div></div>
                <div class="boardBody"><div class="boardPosition">2,7</div></div>
                <div class="boardBody"><div class="boardPosition">2,8</div></div>
                <div class="boardBody"><div class="boardPosition">2,9</div></div>
            </div>
            <div>
                <div class="sideHeader">4</div>
                <div class="boardBody"><div class="boardPosition">3,0</div></div>
                <div class="boardBody"><div class="boardPosition">3,1</div></div>
                <div class="boardBody"><div class="boardPosition">3,2</div></div>
                <div class="boardBody"><div class="boardPosition">3,3</div></div>
                <div class="boardBody"><div class="boardPosition">3,4</div></div>
                <div class="boardBody"><div class="boardPosition">3,5</div></div>
                <div class="boardBody"><div class="boardPosition">3,6</div></div>
                <div class="boardBody"><div class="boardPosition">3,7</div></div>
                <div class="boardBody"><div class="boardPosition">3,8</div></div>
                <div class="boardBody"><div class="boardPosition">3,9</div></div>
            </div>
            <div>
                <div class="sideHeader">5</div>
                <div class="boardBody"><div class="boardPosition">4,0</div></div>
                <div class="boardBody"><div class="boardPosition">4,1</div></div>
                <div class="boardBody"><div class="boardPosition">4,2</div></div>
                <div class="boardBody"><div class="boardPosition">4,3</div></div>
                <div class="boardBody"><div class="boardPosition">4,4</div></div>
                <div class="boardBody"><div class="boardPosition">4,5</div></div>
                <div class="boardBody"><div class="boardPosition">4,6</div></div>
                <div class="boardBody"><div class="boardPosition">4,7</div></div>
                <div class="boardBody"><div class="boardPosition">4,8</div></div>
                <div class="boardBody"><div class="boardPosition">4,9</div></div>
            </div>
            <div>
                <div class="sideHeader">6</div>
                <div class="boardBody"><div class="boardPosition">5,0</div></div>
                <div class="boardBody"><div class="boardPosition">5,1</div></div>
                <div class="boardBody"><div class="boardPosition">5,2</div></div>
                <div class="boardBody"><div class="boardPosition">5,3</div></div>
                <div class="boardBody"><div class="boardPosition">5,4</div></div>
                <div class="boardBody"><div class="boardPosition">5,5</div></div>
                <div class="boardBody"><div class="boardPosition">5,6</div></div>
                <div class="boardBody"><div class="boardPosition">5,7</div></div>
                <div class="boardBody"><div class="boardPosition">5,8</div></div>
                <div class="boardBody"><div class="boardPosition">5,9</div></div>
            </div>
            <div>
                <div class="sideHeader">7</div>
                <div class="boardBody"><div class="boardPosition">6,0</div></div>
                <div class="boardBody"><div class="boardPosition">6,1</div></div>
                <div class="boardBody"><div class="boardPosition">6,2</div></div>
                <div class="boardBody"><div class="boardPosition">6,3</div></div>
                <div class="boardBody"><div class="boardPosition">6,4</div></div>
                <div class="boardBody"><div class="boardPosition">6,5</div></div>
                <div class="boardBody"><div class="boardPosition">6,6</div></div>
                <div class="boardBody"><div class="boardPosition">6,7</div></div>
                <div class="boardBody"><div class="boardPosition">6,8</div></div>
                <div class="boardBody"><div class="boardPosition">6,9</div></div>
            </div>
            <div>

                <div class="sideHeader">8</div>
                <div class="boardBody"><div class="boardPosition">7,0</div></div>
                <div class="boardBody"><div class="boardPosition">7,1</div></div>
                <div class="boardBody"><div class="boardPosition">7,2</div></div>
                <div class="boardBody"><div class="boardPosition">7,3</div></div>
                <div class="boardBody"><div class="boardPosition">7,4</div></div>
                <div class="boardBody"><div class="boardPosition">7,5</div></div>
                <div class="boardBody"><div class="boardPosition">7,6</div></div>
                <div class="boardBody"><div class="boardPosition">7,7</div></div>
                <div class="boardBody"><div class="boardPosition">7,8</div></div>
                <div class="boardBody"><div class="boardPosition">7,9</div></div>
            </div>
            <div>
                <div class="sideHeader">9</div>
                <div class="boardBody"><div class="boardPosition">8,0</div></div>
                <div class="boardBody"><div class="boardPosition">8,1</div></div>
                <div class="boardBody"><div class="boardPosition">8,2</div></div>
                <div class="boardBody"><div class="boardPosition">8,3</div></div>
                <div class="boardBody"><div class="boardPosition">8,4</div></div>
                <div class="boardBody"><div class="boardPosition">8,5</div></div>
                <div class="boardBody"><div class="boardPosition">8,6</div></div>
                <div class="boardBody"><div class="boardPosition">8,7</div></div>
                <div class="boardBody"><div class="boardPosition">8,8</div></div>
                <div class="boardBody"><div class="boardPosition">8,9</div></div>
            </div>
            <div>
                <div class="sideHeader">10</div>
                <div class="boardBody"><div class="boardPosition">9,0</div></div>
                <div class="boardBody"><div class="boardPosition">9,1</div></div>
                <div class="boardBody"><div class="boardPosition">9,2</div></div>
                <div class="boardBody"><div class="boardPosition">9,3</div></div>
                <div class="boardBody"><div class="boardPosition">9,4</div></div>
                <div class="boardBody"><div class="boardPosition">9,5</div></div>
                <div class="boardBody"><div class="boardPosition">9,6</div></div>
                <div class="boardBody"><div class="boardPosition">9,7</div></div>
                <div class="boardBody"><div class="boardPosition">9,8</div></div>
                <div class="boardBody"><div class="boardPosition">9,9</div></div>
            </div>
        </div>
    </div>

</div>
<div id="onError" class="alert-message error">
        <p>
            <strong>Oops!</strong> <span></span>
        </p>
    </div>
    
    <div id="onChat" class="row">
        <div class="span10" id="main">
            <div id="messages">
            </div>
            <textarea id="talk"></textarea>
        </div>

    </div>
    <div id="questionPanel">
         <select id="X">
             <option value="">Eje Y</option>
             <option value="0">0</option>
             <option value="1">1</option>
             <option value="2">2</option>
             <option value="3">3</option>
             <option value="4">4</option>
             <option value="5">5</option>
             <option value="6">6</option>
             <option value="7">7</option>
             <option value="8">8</option>
             <option value="9">9</option>
         </select>
         <select id="Y">
                <option value="">Eje X</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
         </select>
            <button id="askBt" onclick="shoot()">Shoot!</button>
    </div>

<div id="winner">
    <button id="youwin" style="display: none; " onclick="alert('YOU WINN')">YOU WIN!!!</button>
</div>


<script src="@routes.Assets.at("javascripts/jquery-1.7.2.min.js")"></script>
<script src="@routes.Assets.at("javascripts/WSocketServer.js")"></script>
<script src="@routes.Assets.at("javascripts/jquery.chained.js")"></script>
<script type="text/javascript" charset="utf-8">$("#askQuestions");</script>
}
